[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
plotly = "*"
scikit-learn = "*"
scipy = "*"
tensorflow = "*"
torch = "*"
torchvision = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
